/*Knit Street*/

body{

    background: rgb(234,232,255) ;
    background: linear-gradient(0deg, rgba(234,232,255,1) 0%, rgba(202,172,192,1) 100%) no-repeat; color: black; display: block; width: 1000px; margin-right: auto; margin-left: auto; margin-top: 0;
    font-family: "Corbel", sans-serif; }
nav{float: none; width: 1000px; text-align: right; font-weight: bold; font-size: large; height: 3em; position: fixed; background-color: #eae9ff;}
nav ul{padding: 0;}
nav li{display: inline; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 0.75em; padding-right: 0.75em;}

nav a{text-decoration: none; color: black}
nav a:hover{color: #3F2860; border-style:solid; border-top: transparent; border-left: transparent; border-right: transparent; text-decoration: none}

h1{margin-left:50%; margin-right: auto; width: 50%; text-align: center; }
#news p{margin-bottom: 3em}
#wrapper{background-color: #eae9ff}
#yarnhero{height: 300px; background-image: url("../img/yarnhero.jpg") ; background-size: 100%    100%; margin-bottom: 1em}
#yarntext{height: 200px; background-size: 100%    100%; background-color: #542344; text-align: center; color: white; width: 50%; float: left; margin-right: 1em; margin-bottom: 1em }
#secondyarntext{height: 200px; background-size: 100%    100%; background-color: #4F5D75; text-align: right; color: white; width: 50%;     float: left; margin-right:1em;  }
#yarntext h1{margin-left: 1%; margin-right: 1%; padding: 0; width: 50%; float: right; color: white}

#yarntext p{padding: 0; width: 50%; float: right; text-align: center; color: white}
#secondyarntext h1{margin-left: 1%; margin-right: 1%; padding: 0; width: 50%; float: right;}
#secondyarntext p{padding: 0; width: 50%; float: right; text-align: center}
#closehats{height: 200px; background-image: url("../img/closeHats.jpg"); background-size: 50% 142%;  padding: 0; background-repeat: no-repeat }
#sparkleClose{height: 200px; background-image: url("../img/sparkleClose.jpg"); background-size: 50% 142%;  padding: 0; background-repeat: no-repeat }
#navspacer{height: 3em}
#titleleft{float: left; padding: 0;}
form{width: 50%;
    font-weight: bold; height: 450px;
    margin: auto;

}
label{float: left; display: block; text-align: right; width:10em; padding-right: 1em;  }
.labelWidthFix{margin: 0; width: 0}
.labelHeightFix{padding-top:10%;}
#contactParagraph{font-size: large; width: 60%; margin-left: auto; margin-right: auto}
h2{font-weight: bolder; text-align: center}
input,textarea{margin-top: 1em; margin-bottom: 1em; float: top; display: block; }
button{width:20%; margin-right: 40%; margin-left: 40%}
footer{text-align: center; float: bottom; margin-top: 3em}
footer div a{font-weight: bold; margin-left: 3em; margin-right: 3em; text-decoration: none; color: black}
footer div a:hover{color: #3F2860; border-style: solid; border-top: transparent; border-left: transparent; border-right: transparent; border-bottom-color: #542344; text-decoration: none}