/*Knit Street*/

body{

    background: rgb(238, 238, 255);
    background: linear-gradient(0deg, rgb(172, 167, 255) 0%, rgb(103, 110, 215) 100%) no-repeat; color: #000000; display: block; width: 1000px; margin-right: auto; margin-left: auto; margin-top: 0;
    font-family: "Javanese Text", serif; }
nav{float: none; width: 1000px; text-align: right; font-weight: bold; font-size: large; position: fixed; background-color: #a6a6ff; border:1px black solid;
    z-index: 1;}
nav ul{padding: 0; margin-top: 0; height: 54px;}
nav li{display: inline; padding-top: 0.5em; padding-bottom: 0.5em; padding-left: 0.75em; padding-right: 0.75em;}

nav a{text-decoration: none; color: black}
nav a:hover{color: #3F2860; border-style:solid; border-top: transparent; border-left: transparent; border-right: transparent; text-decoration: none}
p{padding-bottom: 1.5em; padding-top: 1.5em}
h1{margin-left:50%; margin-right: auto; width: 50%; text-align: center; }
.news p{margin-bottom: 2em; line-height: 200%; padding-top: 0;}
#wrapper{background-color: #a6a6ff;
}
#yarnhero{height: 372px; background-image: url("../img/acoustic.jpg") ; background-size: 100%    100%; margin-bottom: 1em}
#yarntext{height: 200px; background-size: 100%    100%; background-color: #542344; text-align: center; color: white; width: 50%; float: left; margin-right: 1em; margin-bottom: 1em }
#secondyarntext{height: 200px; background-size: 100%    100%; background-color: #4F5D75; text-align: right; color: white; width: 50%;float: left; margin-right:1em; margin-bottom: 1em;}
#greenyarntext{height: 200px; background-size: 100%    100%; background-color: #DFF2D8; text-align: right; color: #7E7E7E; width: 50%;float: left; margin-right:1em; margin-bottom: 1em}
.titleCenter h4{margin-top: 10%; }
#sunsetyarntext{height: 200px; background-size: 100%    100%; background-color: #FF564D; text-align: right; color: white; width: 50%;float: left; margin-right:1em; margin-bottom: 1em}
#yarntext h1{margin-left: 1%; margin-right: 1%; padding: 0; width: 50%; float: right; color: white}
#yarntext img{height: 200px; float: left; margin-left: 10px; padding-top: 10px; padding-bottom: 4px}
#secondyarntext img{height: 200px; float: left; margin-left: 10px; padding-top: 10px; padding-bottom: 4px}
#secondyarntext h4{
    text-align: center;
}
#secondyarntext audio{
    margin-right: 28px;
}
#greenyarntext img{height: 200px; float: left; margin-left: 10px; padding-top: 10px; padding-bottom: 4px}
#greenyarntext h4{
    text-align: center;
}
#greenyarntext audio{
    margin-right: 28px;
}
#sunsetyarntext img{height: 200px; float: left; margin-left: 10px; padding-top: 10px; padding-bottom: 4px}
#sunsetyarntext h4{
    text-align: center;
}
#sunsetyarntext audio{
    margin-right: 28px;
}
#yarntext p{padding: 0; width: 50%; float: right; text-align: center; color: white}
#secondyarntext h1{margin-left: 1%; margin-right: 1%; padding: 0; width: 50%; float: right;}
#secondyarntext p{padding: 0; width: 50%; float: right; text-align: center}
#closehats{height: 200px; background-image: url("../img/pianoClose.jpg"); background-size: 50% 142%;  padding: 0; background-repeat: no-repeat }
#sparkleClose{height: 200px; background-image: url("../img/sheetmusic.jpg"); background-size: 50% 142%;  padding: 0; background-repeat: no-repeat }
#fandfCover{height: 200px; background-image: url("../img/family and friends.jpg"); background-size: 50% 142%;  padding: 0; background-repeat: no-repeat }
#navspacer{height: 6.5em}
#titleleft{float: left; padding: 0; }
form{width: 50%;
    font-weight: bold; height: 450px;
    margin: auto;

}
audio{
    width: 50%;
    margin-top: 5%;
    position:relative;
    z-index: 0;
}
label{float: left; display: block; text-align: right; width:10em; padding-right: 1em;  }
.labelWidthFix{margin: 0; width: 0}
.labelHeightFix{padding-top:10%;}
#contactParagraph{font-size: large; width: 60%; margin-left: auto; margin-right: auto}
h2{font-weight: bolder; text-align: center}
input,textarea{margin-top: 1em; margin-bottom: 1em; float: top; display: block; }
button{width:20%; margin-right: 40%; margin-left: 40%}
footer{text-align: center; float: bottom; margin-top: 1em}
footer div a{font-weight: bold; margin-left: 3em; margin-right: 3em; text-decoration: none; color: black}
footer div a:hover{color: #3F2860; border-style: solid; border-top: transparent; border-left: transparent; border-right: transparent; border-bottom-color: #542344; text-decoration: none}
#ladyHero{height: 300px; background-size: 100% 100%; background-image: url("../img/lady.jpg");width: 50%;float: left; margin-right:1em;  margin-left: 1em; margin-top: 3.8em}
.textWrapFix{width:50%; margin-right: 0; margin-left: 50%;}
.textWrapFix p{margin-top: 0; padding-top: 0}
.paragraphMarginFix{margin-left: 1em; margin-right: 1em}
#holidayTooltip #holidayTip {
    visibility: hidden;
    width: 250px;
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 11pt;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
#holidayTooltip:hover #holidayTip {
    visibility: visible;
}
/**Tablet View**/
@media only screen and (max-width: 64em)
{
    body{margin: 0; padding: 0;}
    #wrapper{min-width: 0; width: auto; margin: 0; padding: 0;}
    header{padding-top: 1px}
    main{padding-top: 0; padding-bottom: 2.5em; padding-left: 1em; margin: 0; font-size: 90%; float: none}
    nav{float: none; width: auto; padding-left: 2em;}
    nav a{padding: 0.2em; margin-left: 0.3em; float: left; width: 23%;}
    h2, h3, p, dl{padding-left: 2em; padding-right: 2em;}
    main ul{margin-left: 2em;}
    .floatleft{margin-left: 2em; margin-bottom: 1em;}
    .clear{margin-left: 2em; margin-bottom: 1em;}
    #yarnhero, #ladyhero{height: 150px; width: 80%; margin-left: auto; margin-right: auto;}

}
/**Smartphone View**/
@media only screen and (max-width: 37.5em)
{label{float: none; text-align: left;}

    input[type=submit]{margin-left: 0}
    h1{font-size: 2em; padding-top: 0.25em; padding-left: 1.5em; padding-right: 1.5em; width:80%; text-align: center; margin-left: 0; margin-top: 10em}
    h2{font-size: 2em; padding-top: 0.25em; padding-left: 1.5em; padding-right: 1.5em; width:80%; text-align: center; margin-left: 0; margin-top: 7em}
    p{padding: 0; width: 27em; margin: 0; text-align: center}
    #contactParagraph{font-size: large; width: 90%; margin-left: 1em; margin-right: 1em}
    nav{float: none; max-width: 37.5em; width: 300px; text-align: center; font-weight: bold; font-size: large; height: 3em; background-color: #eae9ff; position: absolute}
    nav li{display: block; padding: 0}
    span h1{margin-top: 0}
    .textWrapFix{margin-left: 0}
    nav a{ border: 3px #CCCCCC outset;  width: 17.3em;  margin-bottom: 10px; height: 2em}
    nav a:active{border:3px #666666 inset}
    li div a{border: none; margin-left: 3.7em}
    li{font-size: 100%}
    body{background-color: #eae9ff; width: 25.7em; margin: 0}
    #wrapper{background-color: #eae9ff}
    #yarnhero, #closehats, #sparkleClose{background-image: none; height: 0; width: 0}
    #ladyHero{height: 0; background-image: none; background-size: 0}
    footer{padding: 0.5em;  width: 25em; margin-right: 0}
    footer div{display: none}
    #mobile{display: inline}
    #desktop{display: none; }
    #yarntext{height: 0; }
    #yarntext p{display: none}
    #secondyarntext p{display: none}


    #secondyarntext{height: 0}
    div span h1{ margin-top: 6em; margin-left: 6%}
    span footer{margin-top: 10em}
    button{width: 5em; margin-left: 0}
    #greenyarntext, #sunsetyarntext{height:0;}
    .styleMobileFix img{margin-top: 15em; margin-left: auto; margin-right: auto}
    .styleParagraphFix p{margin-top: 30em; float:right}
    .aboutParagraphFix p, h1{margin-top: 17em}
    .indexParagraphFix p, h1{margin-top: 5em}
    div h1{display:none}

}
